@CHARSET "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Hind+Madurai|Pangolin');
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: #dcd7d4;
	font-family: 'Pangolin', 'Noto Sans KR';
}

#index h2{
	font-size: 40px;
	text-shadow: 3px 3px 0px #ffffff, 5px 5px 0px #707070;	
}

#index #header {
	margin: 3% 2% 0 0;
	text-align: right;
}

input[type='button'], input[type='submit']{
	background-color: #006eca;
	color: white;
	font-weight: bold;
	width: 80px;
	height: 24px;
}

#index #footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #4a5f75;
}